
body{
	background: #fefefe;
}

.wrapper{
	margin: 50px;
}

.container{
	margin-left: 195px;
	max-width: 1300px;
}

.sidebar{
	width: 20%;
	float: left;
	position: fixed;
	top: 50px;
	height: 100%;
}

.fade{
	opacity: 0.3;
}

.fade:hover{
	opacity: 1;
}

.project-info{
	margin-top: 20px;

	p {
		font-size: 14px;
	}
}

.logo {
	margin-bottom: 80px;
	height: 40px;

	path{
		fill:#383838;
	}
}

.social{
	fill:#cacaca;
	position: fixed;
	bottom: 50px;

	svg{
		margin-right: 10px;
		margin-bottom: -5px;
		-webkit-transition: all 0.5s ease;
	}

	svg:hover{
		fill:#181818;
	}
}

.cocoen{
	border-radius: 4px;
}


.hide-desktop{
	display: none;

}

@media all and (min-width: 1650px) {

	.container{
		margin: 0 auto;
	}
}

@media all and (min-width: 1281px) {

	.project-card{
	min-height: 450px;
	height: 100%;
	max-height: 600px;
	}
}



@media all and (max-width: 1024px) {

	.wrapper{
		margin:0;
	}

	.container{
		margin-top: 130px;
		padding-left:5%;
		padding-right:5%;
		margin-left: auto;
	}
  	
	.fade{
	opacity: 1;
}


  	.sidebar{
  		display: block;
  		width: 100%;
  		position: fixed;
  		z-index:100;
		padding: 15px calc(15px + 5%);
		top:0px;
		background: rgba(254, 254, 254,.98);
		height: auto;

  		.logo{
  			margin-bottom: 0;
  		}

  		ul{
  			display: inline-block;
  			margin:0 0 10px 20px;
  			float:right;

  			li{
  				display: inline;
  				margin-left: 20px;
  			}
  		}
  	}

   }

   @media all and (max-width: 600px) {

   		.hide-desktop{
		display: block;
		}

		.hide-mobile{
		display:none; 
		}


   		.sidebar{
   			padding: 15px 15px 0px 15px;
   		}

   		.logo{
   			height: 30px;
   		}

   		ul{
  			display: inline-block;
  			margin:0 0 10px 0px;
  			float:right;

  			li{
  				display: inline;
  				margin-left: 14px;

  				a{
  				font-size: 14px;
  				font-weight: 600;
  				}
  			}
  		}

   }

