
.profile-img{
	padding: 0;
	height: auto;

	img{
		width: 100%;
	}

}

.skills{

	h3{
		margin-bottom: 20px;
	}
}


.profile{

	p{
		font-family: 'Lora', georgia, serif;
	}
}


.project-info{


	ul{

		li{
			font-weight: bold;
		}
	}
}
