
.single-project{


}


.head{
		max-width: 900px;
		margin: 0 auto 50px auto;

	}


.single-project-card{
	box-shadow: 0 5px 100px rgba(0,0,0,.2);
	padding: 0 100px;
	max-height: 65vh;
	overflow-y: hidden;
}


.image{

	img{
		margin: 50px 0 30px 0;
		width: 100%;
	}
}

.comparison{

	.desktop{
		box-shadow: 0 5px 100px rgba(0,0,0,.2);
		border-radius: 4px;

	}
}



